---
layout: wide
title: Archives
---
<h1><span class="icon large" data-icon="R"></span> アーカイブ</h1>
{% for post in site.posts %}
  {% unless post.next %}
    {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
    <h2 id="{{year}}">{{ year }}</h2>
		<ul class="posts">
			<li>
				<span class="post-date">{{ post.date | date_to_string }} &raquo;</span>
				<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
			</li>
  {% else %}
		{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
		{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
		{% if year != nyear %}
			</ul>
			<h2 id="{{year}}">{{ year }}</h2>
			<ul class="posts">
		{% endif %}
		<li>
			<span class="post-date">{{ post.date | date_to_string }} &raquo;</span>
			<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
		</li>
  {% endunless %}
{% endfor %}
</ul>
