---
layout: default
title: Top
---

<div id="home">
  <h2><i class="fa fa-bookmark"></i> Blog</h2>
  <ul id="blog-posts" class="posts">
    {% for post in site.posts limit:10 %}
      <li><span>{{ post.date | date_to_string }} &raquo;</span><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

	<h2><i class="fa fa-bookmark"></i> お知らせ<a class="anchor_super" name="announce">&dagger;</a></h2>
	<div class="mbx">
		<p>
			ここで公開している全てのソフトウェアはフリーソフトウェアです。
		</p>
		<div class="box">
			個人・法人でもご自由に使って頂いてかまいません（頒布も含む）。
			ただし、当ソフトウェアを使って直接的に利益を生じる使い方は禁止です。
		</div>
	</div>


	<h2><i class="fa fa-bookmark"></i> ソフトウェア<a class="anchor_super" name="software">&dagger;</a></h2>
	<div class="mbx">
		<table cellpadding="0" cellspacing="0" border="0" style="width:100%" class="tableborder">
		{% for s in site.data.software %}
			<tr>
				{% capture starts %}{{ s.url | slice:0,4 }}{% endcapture %}
				{% if starts == "http" %}
				<td class="td w200"><a href="{{ s.url }}">{{ s.name }}</a> {{ s.version }}</td>
				{% else %}
				<td class="td w200"><a href="{{ site.url }}{{ s.url }}">{{ s.name }}</a> {{ s.version }}</td>
				{% endif %}
				<td class="td">{{ s.description }}</td>
			</tr>
		{% endfor %}
		</table>
	</div>

	<h2><i class="fa fa-bookmark"></i> サポート<a class="anchor_super" name="support">&dagger;</a></h2>
	<div class="wrap">
		<p>
			<code class="post_code">mebiusbox[at]gmail[dot]com</code> までご連絡ください。
		</p>
	</div>

	<h2><i class="fa fa-bookmark"></i> 寄付<a class="anchor_super" name="donation">&dagger;</a></h2>
	<p>
		新規開発やサポート継続などのため、ご協力をお願い致します。
	</p>

	<div class="wrap">
		<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
		<input type="hidden" name="cmd" value="_s-xclick">
		<input type="hidden" name="hosted_button_id" value="MEY8YBHQBGTNQ">
		<input type="image" src="https://dl.dropboxusercontent.com/u/36645874/images/donate.png" border="0" name="submit" alt="PayPal - オンラインでより安全・簡単にお支払い">
		<img alt="" border="0" src="https://www.paypalobjects.com/ja_JP/i/scr/pixel.gif" width="1" height="1">
		</form>
	</div>

	<h3>Amazon ギフト券</h3>
	<p class="wrap">
		<code class="post_code">mebiusbox[at]gmail[dot]com</code> にお願いします。
	</p>

</div>
