<nav>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <!-- <img src="/logo.png" id="logo" alt="Blog logo"/> -->
    {% endif %}
  </a>
  <h1 class="mebiusbox">Mebiusbox Software</h1>
  <div id="bio">
    <p>sugiyama: Hi. I am programmer. This site has published a software that I have developed.</p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
	<div>
		<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/mebiusbox2" data-widget-id="518101088566652928">@mebiusbox2 からのツイート</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
</nav>
