#post *,
h1.title {
	font-family:"Noto Sans JP",Hiragino Sans,"ヒラギノ角ゴシック",Hiragino Kaku Gothic ProN,"ヒラギノ角ゴ ProN W3",Meiryo,sans-serif;
}
#post p {
	line-height:28px;
}
#post pre,
#post code,
.post_code {
	font-size: 10.5pt;
	background-color: #f6d5d6;
  padding: 2px 6px;
	text-shadow: 0 0 0 #000;
	border-radius:3px;
	border: 0px;
}
#post pre.highlight {
	padding:16px;
}
#post pre.highlight,
#post pre.highlight code {
	font-family: Monaco,Consolas,Courier New,Courier,monospace,sans-serif;
	background-color: rgb(38,41,44);
}
h2 {
	border-bottom: 1px dotted #ddd;
	padding-bottom: 8px;
	margin: 20px 0;
}

h1.title {
	margin: 40px 0px;
}

div.sep {
	border-top: 1px dotted #ddd;
	margin: 15px 0px;
}
