#post p,
#post div,
#post th,
#post td,
#post h1,
#post h2,
#post h3,
#post h4,
h1.title {
	font-family:"Noto Sans JP",Hiragino Sans,"ヒラギノ角ゴシック",Hiragino Kaku Gothic ProN,"ヒラギノ角ゴ ProN W3",Meiryo,sans-serif;
}
.fa-external-link {
	position:relative;
	top:5px;
	font-size:1.4em;
}
#post p {
	line-height:28px;
}
#post pre,
#post code,
.post_code {
	font-size: 10.5pt;
	background-color: #f6d5d6;
  padding: 2px 6px;
/*	text-shadow: 0 0 0 #000;*/
	border-radius:3px;
	border: 0px;
}
#post code {
	font-family: Consolas, sans-serif, monospace;
}
#post pre.highlight {
	padding:16px;
	background-color: #222;
}
#post pre.highlight * {
	font-family: Consolas,Courier New,Courier,monospace,sans-serif;
	background-color: #222;
}
#post table {
 margin: 10px 0px;
 border-width: 1px;
 border-color: #d0d0d0;
 border-style: solid;
}
#post th {
 font-weight: bold;
 font-size: 14px;
 background-color: #f9f9f9;
 border-right:1px solid #d0d0d0;
 color:#d21a4e;
 padding: 4px;
}
#post td {
 border-top:1px solid #d0d0d0;
 border-right:1px solid #d0d0d0;
 font-weight: normal;
 font-size: 12px;
 padding: 6px;
 background-color: #f9f9f9;
}
#post td a,
#post td a:visited,
#post td a:hover {
 font-size: 12px;
}
h2 {
	border-bottom: 1px dotted #ddd;
	padding-bottom: 8px;
	margin: 20px 0;
}

h1.title {
	margin: 40px 0px;
}

div.sep {
	border-top: 1px dotted #ddd;
	margin: 15px 0px;
}
.imgblk {
	float:left;
	margin-right: 16px;
}
